<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </p>

  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <p>
    <%= form.label "date" %>
    <%= form.date_field "posted_on" %>
  </p>

<%= form.hidden_field "place_id", value: params[:place_id] %>
  <p><%= form.submit %></p>
<% end %>