<h1><%= @place["name"] %></h1>

<h2>Posts</h2>

<div>
  <% for post in @post %>
    <h3><%= post["title"] %></h3>
    <p><%= post["posted_on"] %></p>
    <li><%= post["description"] %></li>
  <% end %>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/">Back to Places I've been</a></p>